name: Drive Auto Backup
on:
  push:
    branches: [ main ]

jobs:
  backup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Create Zip File
        run: zip backup_2026.zip index.html

      - name: Upload to Google Drive
        uses: JiteshGaikwad/google-drive-upload-action@v1.1
        with:
          file_path: ./backup_2026.zip
          drive_folder_id: ${{ secrets.GOOGLE_FOLDER_ID }}
          client_id: ${{ secrets.GOOGLE_CLIENT_ID }}
          client_secret: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          refresh_token: ${{ secrets.GOOGLE_REFRESH_TOKEN }}
          overwrite: true